.paint{
  position:relative;
  height:1200px;
  background-image: url("../Images/Fondo.jpg");
}

.stage{
  position:absolute;
  width: 1600px;
	height: 782px;
	background-image: url("../Images/Mesadetrabajo29.svg");
}
